@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.navbar {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  background-color: #555b6e;
  padding: 0.5em;
}
.navbar .nav-btnGroup {
  display: flex;
}
.navbar .nav-btnGroup .nav-btn {
  background-color: transparent;
  border: none;
  font-size: 1.25em;
  font-weight: 500;
  padding: 0.25em 1em;
  color: #ffffff;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: all 0.2s;
}
.navbar .nav-btnGroup .nav-btn:hover {
  border: 2px solid #ffffff;
  cursor: pointer;
}
.navbar .nav-btnGroup .nav-btn:active {
  background-color: #ffffff;
  color: #555b6e;
}
.navbar .nav-btnGroup .prodGroup,
.navbar .nav-btnGroup .vidrioGroup {
  z-index: 10;
}
.navbar .nav-btnGroup .prodGroup .prodOptions,
.navbar .nav-btnGroup .vidrioGroup .prodOptions {
  border: 2px solid #555b6e;
  margin-top: 0.5em;
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: center;
}
.navbar .nav-btnGroup .prodGroup .prodOptions .list-btn,
.navbar .nav-btnGroup .vidrioGroup .prodOptions .list-btn {
  padding: 0.25em 0;
  border: none;
  background-color: #ffffff;
  font-size: 1.25em;
  width: 100%;
  color: #555b6e;
  transition: background-color 0.2s;
}
.navbar .nav-btnGroup .prodGroup .prodOptions .list-btn:hover,
.navbar .nav-btnGroup .vidrioGroup .prodOptions .list-btn:hover {
  background-color: #dddddd;
  cursor: pointer;
}
.navbar .nav-btnGroup .prodGroup .prodOptions .list-btn:active,
.navbar .nav-btnGroup .vidrioGroup .prodOptions .list-btn:active {
  background-color: #bbbbbb;
}

.header {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .prod-sec {
  margin: 0 1em;
  display: flex;
  justify-content: space-between;
}
.header .prod-sec #tabla-producto {
  border-collapse: collapse;
}
.header .prod-sec #tabla-producto tr th {
  padding: 0.75em 2em;
  font-size: 1em;
  border: 2px solid #555b6e;
  color: #555b6e;
}
.header .prod-sec .prodSec-options {
  display: flex;
  flex-direction: column;
}
.header .prod-sec .prodSec-options h2 {
  text-align: center;
  font-size: 2.5em;
  color: #555b6e;
}
.header .prod-sec .prodSec-options .prodSec-inputGroup {
  margin-top: 3em;
  margin-left: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .prod-sec .prodSec-options .prodSec-inputGroup input {
  background-color: transparent;
  padding: 0.25em 1em;
  width: 100%;
  border-radius: 5px;
  margin: 0.25em;
  text-align: center;
  border: 2px solid #555b6e;
}
.header .prod-sec .prodSec-options .prodSec-inputGroup2 {
  margin-top: 1em;
  margin-left: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .prod-sec .prodSec-options .prodSec-inputGroup2 button {
  padding: 0.5em 1em;
  width: 100%;
  border-radius: 5px;
  margin: 0.25em;
  text-align: center;
  background-color: #555b6e;
  color: #ffffff;
  border: 2px solid #555b6e;
  transition: all 0.2s;
}
.header .prod-sec .prodSec-options .prodSec-inputGroup2 button:hover {
  cursor: pointer;
  background-color: #333b6e;
}
.header .prod-sec .prodSec-options .prodSec-inputGroup2 button:active {
  transform: scale(97%);
}
.header .prod-sec .prodSec-options .prodSec-inputGroup3 {
  margin-top: 5em;
  margin-left: 1em;
}
.header .prod-sec .prodSec-options .prodSec-inputGroup3 button {
  font-size: 1em;
  padding: 1.5em;
  width: 100%;
  border-radius: 5px;
  margin: 0.25em;
  text-align: center;
  background-color: #555b6e;
  color: #ffffff;
  border: 2px solid #555b6e;
  transition: all 0.2s;
}
.header .prod-sec .prodSec-options .prodSec-inputGroup3 button:hover {
  cursor: pointer;
  background-color: #333b6e;
}
.header .prod-sec .prodSec-options .prodSec-inputGroup3 button:active {
  transform: scale(97%);
}
.header .vidrio-sec {
  padding: 1em;
  border: 2px solid #555b6e;
  border-radius: 10px;
  width: 50%;
  height: 75%;
  display: none;
  flex-direction: column;
  align-items: center;
}
.header .vidrio-sec h2 {
  font-size: 3em;
  color: #555b6e;
}
.header .vidrio-sec .vidrio-medidas-sec {
  display: flex;
  width: 100%;
  justify-content: center;
}
.header .vidrio-sec .vidrio-medidas-sec input {
  padding: 0.25em 1.75em;
  border: 2px solid #555b6e;
  border-radius: 5px;
  margin: 0.25em;
  text-align: center;
}
.header .vidrio-sec .vidrio-select select {
  text-align: center;
  width: 100%;
  padding: 0.25em 2.5em;
  height: 3em;
  border: 2px solid #555b6e;
  border-radius: 5px;
}
.header .vidrio-sec .vidrio-select button {
  height: 2.5em;
  width: 100%;
  font-size: 1em;
  padding: 0.25em 2em;
  border-radius: 5px;
  margin: 0.25em;
  text-align: center;
  background-color: #555b6e;
  color: #ffffff;
  border: 2px solid #555b6e;
  transition: all 0.2s;
}
.header .vidrio-sec .vidrio-select button:hover {
  cursor: pointer;
  background-color: #333b6e;
}
.header .vidrio-sec .vidrio-select button:active {
  transform: scale(97%);
}
.header .vidrio-sec .precio-vidrio {
  margin-top: 1em;
}
.header .vidrio-sec .precio-vidrio input {
  height: 5em;
  width: 100%;
  border: 2px solid #555b6e;
  border-radius: 5px;
  text-align: center;
}
.header .vidrio-sec .precio-vidrio .btn-group-vidrio button {
  height: 2.5em;
  font-size: 1em;
  padding: 0.25em 2em;
  border-radius: 5px;
  margin: 0.25em;
  text-align: center;
  background-color: #555b6e;
  color: #ffffff;
  border: 2px solid #555b6e;
  transition: all 0.2s;
}
.header .vidrio-sec .precio-vidrio .btn-group-vidrio button:hover {
  cursor: pointer;
  background-color: #333b6e;
}
.header .vidrio-sec .precio-vidrio .btn-group-vidrio button:active {
  transform: scale(97%);
}
.header .precios-sec {
  border: 2px solid #555b6e;
  border-radius: 10px;
  width: 50%;
  height: 90%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .precios-sec .precios-container {
  display: flex;
  flex-direction: row;
}
.header .precios-sec .precios-container h3 {
  text-align: center;
  font-size: 1.5em;
  color: #555b6e;
}
.header .precios-sec .precios-container div {
  margin: 0 2em;
}
.header .precios-sec .precios-container div ul {
  list-style: none;
}
.header .precios-sec .precios-container div ul li input {
  text-align: center;
  margin-bottom: 0.25em;
  padding: 0.25em 1em;
  font-size: 1em;
  border: 2px solid #555b6e;
  border-radius: 5px;
  color: #555b6e;
}
.header .precios-sec button {
  height: 2.5em;
  font-size: 1em;
  padding: 0.25em 2em;
  border-radius: 5px;
  margin: 0.25em;
  text-align: center;
  background-color: #555b6e;
  color: #ffffff;
  border: 2px solid #555b6e;
  transition: all 0.2s;
}
.header .precios-sec button:hover {
  cursor: pointer;
  background-color: #333b6e;
}
.header .precios-sec button:active {
  transform: scale(97%);
}

/*# sourceMappingURL=style.css.map */
