@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (width > 540px) {
  .vidrio-sec {
    width: 75%;
  }
  .lista-sec {
    width: 75%;
  }
  .precios-sec {
    width: 75%;
  }
}
@media (width > 1366px) {
  .vidrio-sec {
    width: 50%;
  }
  .lista-sec {
    width: 50%;
  }
  .precios-sec {
    width: 50%;
  }
}
.navbar {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  background-color: #555b6e;
  padding: 0.5em;
}
.navbar .nav-btn-container {
  display: flex;
}
.navbar .nav-btn-container .nav-btn {
  height: 100%;
  background-color: transparent;
  border: none;
  font-size: 1.25em;
  font-weight: 500;
  padding: 0.25em 1em;
  color: #ffffff;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: all 0.2s;
}
.navbar .nav-btn-container .nav-btn:hover {
  border: 2px solid #ffffff;
  cursor: pointer;
}
.navbar .nav-btn-container .nav-btn:active {
  background-color: #ffffff;
  color: #555b6e;
}
.navbar .nav-btn-container .prod-container {
  z-index: 1;
}
.navbar .nav-btn-container .prod-container .prodOptions {
  border: 2px solid #555b6e;
  margin-top: 0.5em;
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: center;
}
.navbar .nav-btn-container .prod-container .prodOptions .list-btn {
  padding: 0.25em 0;
  border: none;
  background-color: #ffffff;
  font-size: 1.25em;
  width: 100%;
  color: #555b6e;
  transition: background-color 0.2s;
}
.navbar .nav-btn-container .prod-container .prodOptions .list-btn:hover {
  background-color: #dddddd;
  cursor: pointer;
}
.navbar .nav-btn-container .prod-container .prodOptions .list-btn:active {
  background-color: #bbbbbb;
}

.header {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .prod-sec {
  width: 100%;
  height: 75%;
  margin: 0 1em;
  display: flex;
  justify-content: space-around;
}
.header .prod-sec #tabla-producto {
  width: 75%;
  border-collapse: collapse;
}
.header .prod-sec #tabla-producto tr th {
  padding: 0.75em 2em;
  font-size: 1.25em;
  border: 2px solid #555b6e;
  color: #555b6e;
}
.header .prod-sec .prodSec-options-container {
  width: 25%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.header .prod-sec .prodSec-options-container .prodSec-inputGroup-container {
  margin-left: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .prod-sec .prodSec-options-container .prodSec-inputGroup-container h2 {
  text-align: center;
  font-size: 3em;
  color: #555b6e;
}
.header .prod-sec .prodSec-options-container .prodSec-inputGroup-container input {
  font-size: 1em;
  background-color: transparent;
  padding: 0.25em 1em;
  height: 3em;
  width: 100%;
  border-radius: 5px;
  margin: 0.5em 0;
  text-align: center;
  border: 2px solid #555b6e;
}
.header .prod-sec .prodSec-options-container .prodSec-inputGroup2-container {
  margin-left: 1em;
}
.header .prod-sec .prodSec-options-container .prodSec-inputGroup2-container button {
  font-size: 1.25em;
  height: 3em;
  width: 100%;
  border-radius: 5px;
  margin: 0.5em 0;
  text-align: center;
  background-color: #555b6e;
  color: #ffffff;
  border: 2px solid #555b6e;
  transition: all 0.2s;
}
.header .prod-sec .prodSec-options-container .prodSec-inputGroup2-container button:hover {
  cursor: pointer;
  background-color: #333b6e;
}
.header .prod-sec .prodSec-options-container .prodSec-inputGroup2-container button:active {
  transform: scale(97%);
}
.header .vidrio-sec {
  padding: 2em;
  border: 2px solid #555b6e;
  border-radius: 10px;
  height: 75%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.header .vidrio-sec h2 {
  font-size: 3em;
  color: #555b6e;
}
.header .vidrio-sec .vidrio-medidas-container {
  display: flex;
  width: 75%;
  justify-content: center;
}
.header .vidrio-sec .vidrio-medidas-container input {
  font-size: 1em;
  width: 100%;
  height: 3em;
  padding: 0.25em 1.75em;
  border: 2px solid #555b6e;
  border-radius: 5px;
  margin: 0.25em;
  text-align: center;
}
.header .vidrio-sec .vidrio-select-container {
  width: 75%;
}
.header .vidrio-sec .vidrio-select-container select {
  font-size: 1em;
  text-align: center;
  width: 100%;
  padding: 0.25em 2.5em;
  height: 3em;
  border: 2px solid #555b6e;
  border-radius: 5px;
}
.header .vidrio-sec .vidrio-select-container button {
  margin-top: 0.5em;
  height: 2.5em;
  width: 100%;
  font-size: 1em;
  padding: 0.25em 2em;
  border-radius: 5px;
  text-align: center;
  background-color: #555b6e;
  color: #ffffff;
  border: 2px solid #555b6e;
  transition: all 0.2s;
}
.header .vidrio-sec .vidrio-select-container button:hover {
  cursor: pointer;
  background-color: #333b6e;
}
.header .vidrio-sec .vidrio-select-container button:active {
  transform: scale(97%);
}
.header .vidrio-sec .precio-vidrio-container {
  display: flex;
  flex-direction: column;
  width: 75%;
}
.header .vidrio-sec .precio-vidrio-container input {
  height: 5em;
  font-size: 1.5em;
  width: 100%;
  border: 2px solid #555b6e;
  border-radius: 5px;
  text-align: center;
  margin-top: 0.25em;
}
.header .vidrio-sec .precio-vidrio-container button {
  height: 2.5em;
  font-size: 1em;
  padding: 0.25em 2em;
  border-radius: 5px;
  margin-top: 0.5em;
  text-align: center;
  background-color: #555b6e;
  color: #ffffff;
  border: 2px solid #555b6e;
  transition: all 0.2s;
}
.header .vidrio-sec .precio-vidrio-container button:hover {
  cursor: pointer;
  background-color: #333b6e;
}
.header .vidrio-sec .precio-vidrio-container button:active {
  transform: scale(97%);
}
.header .lista-sec {
  padding: 2em;
  border: 2px solid #555b6e;
  border-radius: 10px;
  height: 75%;
  display: none;
  justify-content: center;
  align-items: center;
}
.header .lista-sec .lista-container {
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.header .lista-sec .lista-container h2 {
  font-size: 3em;
  color: #555b6e;
}
.header .lista-sec .lista-container .prodGroup {
  width: 100%;
}
.header .lista-sec .lista-container .prodGroup .prod-container {
  margin: 0.25em 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #555b6e;
  border-radius: 5px;
  padding: 0.25em 1em;
  font-size: 1.5em;
  color: #555b6e;
}
.header .lista-sec .lista-container .prodGroup .prod-container button {
  padding: 0.25em;
  font-size: 1em;
  border: none;
  color: #555b6e;
  background-color: #ffffff;
}
.header .lista-sec .lista-container .prodGroup .prod-container button:hover {
  cursor: pointer;
  background-color: red;
  border-radius: 5px;
  color: #ffffff;
}
.header .lista-sec .lista-container .prodGroup .prod-container button:active {
  transform: scale(97%);
}
.header .lista-sec .lista-container .list-btn {
  height: 3em;
  font-size: 1.25em;
  width: 75%;
  padding: 0.25em;
  border-radius: 5px;
  text-align: center;
  background-color: #555b6e;
  color: #ffffff;
  border: 2px solid #555b6e;
  transition: all 0.2s;
}
.header .lista-sec .lista-container .list-btn:hover {
  cursor: pointer;
  background-color: #333b6e;
}
.header .lista-sec .lista-container .list-btn:active {
  transform: scale(97%);
}
.header .precios-sec {
  padding: 2em;
  border: 2px solid #555b6e;
  border-radius: 10px;
  height: 75%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .precios-sec .precios-container {
  display: flex;
  flex-direction: row;
}
.header .precios-sec .precios-container h3 {
  text-align: center;
  font-size: 2.25em;
  color: #555b6e;
}
.header .precios-sec .precios-container .precios-materiales-container, .header .precios-sec .precios-container .precios-vidrios-container {
  margin: 0 2em;
}
.header .precios-sec .precios-container .precios-materiales-container ul, .header .precios-sec .precios-container .precios-vidrios-container ul {
  list-style: none;
}
.header .precios-sec .precios-container .precios-materiales-container ul li input, .header .precios-sec .precios-container .precios-vidrios-container ul li input {
  width: 100%;
  height: 2.5em;
  text-align: center;
  margin-bottom: 0.5em;
  padding: 0.25em 1em;
  font-size: 1em;
  border: 2px solid #555b6e;
  border-radius: 5px;
  color: #555b6e;
}
.header .precios-sec button {
  height: 3em;
  font-size: 1.25em;
  width: 75%;
  padding: 0.25em;
  margin-top: 1em;
  border-radius: 5px;
  text-align: center;
  background-color: #555b6e;
  color: #ffffff;
  border: 2px solid #555b6e;
  transition: all 0.2s;
}
.header .precios-sec button:hover {
  cursor: pointer;
  background-color: #333b6e;
}
.header .precios-sec button:active {
  transform: scale(97%);
}
.header .hojaPresupuesto-sec {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.header .hojaPresupuesto-sec .hoja-container {
  background-color: #dddddd;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  margin: auto;
  height: 80%;
  width: auto;
  border: 2px solid #555b6e;
  border-radius: 5px;
  border-collapse: collapse;
}
.header .hojaPresupuesto-sec .hoja-container .hoja {
  margin: 2em;
  width: 21cm;
  background-color: #ffffff;
  height: 29.7cm;
}
.header .hojaPresupuesto-sec .hoja-container .hoja .info-container {
  margin: 1em 1em 0 1em;
  border: 1px solid black;
  height: 25%;
  width: 95%;
}
.header .hojaPresupuesto-sec .hoja-container .hoja .info-container .info1-container {
  display: flex;
  height: 42.5%;
  border-bottom: 1px solid black;
}
.header .hojaPresupuesto-sec .hoja-container .hoja .info-container .info1-container .info1-img-container {
  width: 50%;
  border-right: 1px solid black;
}
.header .hojaPresupuesto-sec .hoja-container .hoja .info-container .info1-container .info1-img-container img {
  padding: 0.25em 1em;
  width: 100%;
  height: 100%;
}
.header .hojaPresupuesto-sec .hoja-container .hoja .info-container .info1-container .info1-text-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header .hojaPresupuesto-sec .hoja-container .hoja .info-container .info1-container .info1-text-container h2 {
  text-align: center;
  font-size: 2.5em;
}
.header .hojaPresupuesto-sec .hoja-container .hoja .info-container .info1-container .info1-text-container #fecha {
  font-size: 1.5em;
}
.header .hojaPresupuesto-sec .hoja-container .hoja .info-container .info2-container {
  height: 15%;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.header .hojaPresupuesto-sec .hoja-container .hoja .info-container .info2-container .redes1-container {
  display: flex;
  flex-direction: row;
  width: auto;
}
.header .hojaPresupuesto-sec .hoja-container .hoja .info-container .info2-container .redes1-container img {
  padding: 0.25em;
  border-radius: 10px;
}
.header .hojaPresupuesto-sec .hoja-container .hoja .info-container .info2-container .redes1-container p {
  font-size: 1em;
  font-weight: bold;
  align-self: center;
}
.header .hojaPresupuesto-sec .hoja-container .hoja .info-container .info2-container .redes2-container {
  display: flex;
  flex-direction: row;
  width: auto;
}
.header .hojaPresupuesto-sec .hoja-container .hoja .info-container .info2-container .redes2-container img {
  padding: 0.25em;
  border-radius: 10px;
}
.header .hojaPresupuesto-sec .hoja-container .hoja .info-container .info2-container .redes2-container p {
  font-size: 1em;
  font-weight: bold;
  align-self: center;
}
.header .hojaPresupuesto-sec .hoja-container .hoja .info-container .info3-container {
  height: 42.5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header .hojaPresupuesto-sec .hoja-container .hoja .info-container .info3-container h2:nth-child(1) {
  font-weight: bold;
  font-size: 2em;
}
.header .hojaPresupuesto-sec .hoja-container .hoja .info-container .info3-container h2:nth-child(2) {
  font-weight: normal;
  font-size: 1em;
}
.header .hojaPresupuesto-sec .hoja-container .hoja .info-container .info3-container h2:nth-child(3) {
  font-weight: normal;
  font-size: 1em;
}
.header .hojaPresupuesto-sec .hoja-container .hoja .info-cliente {
  margin: 0 1em 0 1em;
  border: 1px solid black;
  border-bottom: none;
  border-top: none;
  width: 95%;
  display: flex;
  flex-direction: row;
}
.header .hojaPresupuesto-sec .hoja-container .hoja .info-cliente .cliente-nombre-container {
  padding: 0.25em;
  border-right: 1px solid black;
  width: 50%;
}
.header .hojaPresupuesto-sec .hoja-container .hoja .info-cliente .cliente-nombre-container .cliente-nombre-title {
  font-weight: bold;
}
.header .hojaPresupuesto-sec .hoja-container .hoja .info-cliente .cliente-numero-container {
  padding: 0.25em;
  width: 50%;
}
.header .hojaPresupuesto-sec .hoja-container .hoja .info-cliente .cliente-numero-container .cliente-numero-title {
  font-weight: bold;
}
.header .hojaPresupuesto-sec .hoja-container .hoja .datos-container {
  margin: 0 1em 0 1em;
  height: 65%;
  width: 95%;
}
.header .hojaPresupuesto-sec .hoja-container .hoja .datos-container table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}
.header .hojaPresupuesto-sec .hoja-container .hoja .datos-container table tr th:nth-child(1) {
  border: 1px solid black;
  width: 70%;
}
.header .hojaPresupuesto-sec .hoja-container .hoja .datos-container table tr th:nth-child(2) {
  border: 1px solid black;
  width: 10%;
}
.header .hojaPresupuesto-sec .hoja-container .hoja .datos-container table tr th:nth-child(3) {
  border: 1px solid black;
  width: 20%;
}
.header .hojaPresupuesto-sec .hoja-container .hoja .precio-container {
  margin: 0 1em 1em 1em;
  border: 1px solid black;
  border-top: none;
  display: flex;
  width: 95%;
  text-align: center;
}
.header .hojaPresupuesto-sec .hoja-container .hoja .precio-container .precio-titulo-container {
  font-weight: bold;
  padding: 0.5em;
  width: 81%;
  border-right: 1px solid black;
}
.header .hojaPresupuesto-sec .hoja-container .hoja .precio-container .precio-importe-container {
  width: 20%;
  padding: 0.5em;
}
.header .hojaPresupuesto-sec .opciones-container {
  margin: 1em;
  height: 10%;
  width: 75%;
  display: flex;
  justify-content: space-around;
}
.header .hojaPresupuesto-sec .opciones-container button {
  height: 3em;
  font-size: 1.25em;
  width: 30%;
  padding: 0.25em;
  margin-top: 1em;
  border-radius: 5px;
  text-align: center;
  background-color: #555b6e;
  color: #ffffff;
  border: 2px solid #555b6e;
  transition: all 0.2s;
}
.header .hojaPresupuesto-sec .opciones-container button:hover {
  cursor: pointer;
  background-color: #333b6e;
}
.header .hojaPresupuesto-sec .opciones-container button:active {
  transform: scale(97%);
}

/*# sourceMappingURL=style.css.map */
