//ESTILOS GENERALES
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

// IMPORT DE FUENTE
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

// VARIABLES
$color1: #ffffff;
$color2: #555b6e;
$color3: #dddddd;
$color4: #bbbbbb;
$color5: #333b6e;

// MEDIA QUERIES
