//ESTILOS GENERALES
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

// IMPORT DE FUENTE
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

// VARIABLES
$color1: #FFFFFF;
$color2: #555B6E;

// MEDIA QUERIES

